.best {
  background-image: url('../img/bg/best_bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(30px);
}

.best__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.best__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

}

.best__item {
  width: rem(280px);
  margin: rem(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.best__name {
  font-family: 'Lifehack';
  font-size: rem(24px);
  font-weight: 400;
  margin-bottom: rem(26px);
  text-align: center;
}

.best__desc {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 300;
  color: $dark;
  opacity: 0.8;
  text-align: center;
}

.best__image {
  margin-bottom: rem(26px);
}