.menu {
	list-style: none;
}
.menu__item {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 30px;
}

.menu__link {
	width: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	line-height: 30px;
	background-color: crimson;
}
.menu__icon {
	position: absolute;
	content: '';
	top: 10px;
	left: 10px;
	background-color: lightseagreen;
	width: 10px;
	height: 10px;
}

.menu__item--active .menu__link {
	background-color: darkred;
}
.menu__item--active   .menu__icon {
	background-color: aqua;
}

.section hero {
	background: url('img/content/hero/welcome-bg.jpg') center center no-repeat;
}

